17016011_Emir_Oğuz/17016011_Emir_Oğuz/C/STD_CNF/R/STD_RES/_s49IBG4/service.dtd

<!ELEMENT Sequences (Sequence*)>
<!ELEMENT Sequence (Name, ServiceRequest+)>
<!ELEMENT ServiceRequest (Name, RequestCode, Parameters?)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT RequestCode (#PCDATA)>
<!ELEMENT Parameters (Param+)>
<!ELEMENT Param (#PCDATA)>
<!ATTLIST Param Datatype 
   (unsigned8 |
    unsigned16 | 
    unsigned32 | 
    octetString) #REQUIRED>
<!ATTLIST Param Description CDATA #REQUIRED>
